<!DOCTYPE html>
<html lang="en" ng-app="mySimon">
<head>
	<meta charset="UTF-8">
	<title>MySimon</title>
	<!-- Stylesheets -->
	<link rel="stylesheet" href="style.css"/> 
	<!-- Javascript -->
	<script type="text/javascript" src="angular.js"></script>
  <script type="text/javascript" src="app.js"></script>
</head>
<body>
	It's Angular!

<!-- Colored Boxes -->
	<div class="boxContainer1" >
		<div ng-controller="box1 as box" ng-class="{bambooGreen: press}" class="box1">
			<!-- <div ng-bind="box.myarray"></div> -->		
		</div>

		<div ng-controller="box2 as box" ng-class="{lightBlue: press}" class="box2">
					
		</div>
	</div>

	<div class="boxContainer2">
		<div ng-controller="box3 as box" ng-class="{vRed: press}" class="box3">
					
		</div>

		<div ng-controller="box4 as box" ng-class="{yellowish: press}" class="box4">
					
		</div>
	</div>
	<input type="checkbox" ng-model="press"/> apply the bambooGreen color 



<!-- Start Button -->
	<div class="startButton">
		<button ng-click="count=count+1" ng-init="count=0"> Start </button>
	</div>
	<span>
	  count: {{count}}
	</span>

<p ng-class="{strike: deleted, bold: important, red: error}">Map Syntax Example</p>
<input type="checkbox" ng-model="deleted"> deleted (apply "strike" class)<br>
<input type="checkbox" ng-model="important"> important (apply "bold" class)<br>
<input type="checkbox" ng-model="error"> error (apply "red" class)
<hr>


</body>
</html>