* {
	background-color: orange;
}

.box1 {
	height:200px;
	width: 200px;
	background-color: green;
	border: 2px solid black;
	display:inline-block;
}

.box1flash {
	background-color: #2A9C7A;
}

.startButton {
	display: inline-block;
	background-color: aliceblue;
	border: 1px solid black;
}


.strike {
  text-decoration: line-through;
}
.bold {
    font-weight: bold;
}
.bambooGreen {
    background-color: #2A9C7A;
}